*.[oa]
*.eps
bin/*
*.su
*.bin
*/.DS*
*/*/.DS*
.DS*
Make_include
fdelmodc_cuda.tgz
marchenko/fmute
marchenko/marchenko
raytime/raytime
utils/basop
utils/correigen
utils/extendModel
utils/fconv
utils/ftr1d
utils/green
utils/makemod
utils/makewave
utils/mat2su
utils/syn2d
utils/green3D
fdelmodc/fdelmodc
include/genfft.h
Make_include
marchenko_applications/fmute
marchenko_applications/marchenko
marchenko_full/fmute
marchenko_full/marchenko
corrvir/corrvir
fdemmodc/fdemmodc
FFTlib/test/cc1test
FFTlib/test/cc2dtest
FFTlib/test/ccmtest
FFTlib/test/rc1test
FFTlib/test/rc2dtest
FFTlib/test/rcmtest
marchenko_applications/HomG
marchenko_applications/MuteSnap
marchenko_applications/combine
marchenko_applications/gmshift
marchenko_applications/iba
marchenko_applications/marchenko_app
marchenko_applications/reshape_su
raytime3d/raytime3d
