*.[oa]
*.eps
*.mod
bin/*
*.su
*.aux
*.log
*.bin
*.asci
*/.DS*
**/.DS*
.DS*
.vscode/*
slurm*.out
Make_include
fdelmodc_cuda.tgz
marchenko/fmute
marchenko/marchenko
marchenko/marchenko_primaries
raytime/raytime
utils/basop
utils/correigen
utils/extendModel
utils/extend3D
utils/fconv
utils/ftr1d
utils/green
utils/makemod
utils/makewave
utils/mat2su
utils/syn2d
utils/green3D
utils/HomG
utils/MuteSnap
utils/Snap2Shot
utils/combine
utils/combine_induced
utils/reshape_su
utils/convhomg
utils/makeR1D
utils/padmodel
utils/pwshift
utils/truncate
utils/changevalue
utils/smooth
fdelmodc/fdelmodc
include/genfft.h
include/optim.h
include/zfp.h
include/bitstream.h
include/zfp/
Make_include
marchenko_applications/fmute
marchenko_applications/marchenko
marchenko_full/fmute
marchenko_full/marchenko
corrvir/corrvir
fdemmodc/fdemmodc
FFTlib/test/cc1test
FFTlib/test/cc2dtest
FFTlib/test/ccmtest
FFTlib/test/rc1test
FFTlib/test/rc2dtest
FFTlib/test/rcmtest
FFTlib/test/rc1loop
FFTlib/test/cc1loop
marchenko_applications/HomG
marchenko_applications/MuteSnap
marchenko_applications/combine
marchenko_applications/gmshift
marchenko_applications/iba
marchenko_applications/marchenko_app
marchenko_applications/reshape_su
raytime3d/raytime3d
raytime/Raytime
MDD/mdd
vmar/vmar
marchenko3D/fmute3D
marchenko3D/marchenko3D
marchenko3D/marchenko3DME
fdelmodc3D/fdelmodc3D
fdacrtmc/fdacrtmc
marchenko3D/TWtransform
utils/mutesnap
utils/snap2shot
extrap/main/cfpmod
extrap/main/extrap
extrap/main/migr
extrap/main/onewvsp
extrap/main/opercalc
extrap/main/migr_mpi
